.app__container {
  width: 100%;
  height: auto;
  /* background-color: blueviolet; */
  display: flex;
  padding: 1.5vw 0;
}

.app__container #sidebar {
  width: 25%;
  height: 100%;
  position: sticky;
  top: 6.5vw;
}

.app__container #products {
  width: 75%;
  height: 60rem;
}

.vertical_divider {
  width: 2px;
  height: 100%;
  margin-top: -1.5vw;
  background-color: lightgray;
  position: fixed;
  left: 25vw;
}
